@import 'typography.scss';
@import 'settings.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: lighten($color-gray, 15%);
}

.active i {
  color: $color-dark;
}

[data-reach-dialog-content] {
  background: transparent;
  opacity: 1;
  max-width: 1000px;
  width: 100%;
}