@import '../../../styles/settings.scss';

.label {
  position: relative;
  display: block;
  border-radius: $radius;
  margin-bottom: $space-unit * 0.5;

  &:last-of-type {
    margin-bottom: $space-unit * 2;
  }

  span {
    transition: all 0.5s;
    position: absolute;
    left: $login-form-text-gap;
    top: 50%;
    transform: translateY(-50%);
    color: $color-dark;

    &.active {
      transform: translate(-12px, -18px) scale(0.7);
    }
  }
}

.input {
  padding: $space-unit $space-unit * 0.5;
  background-color: lighten($color-gray, 20%);
  border: $b-width solid $color-gray;
  width: 100%;

  &.active {
    padding-top: $space-unit * 1.5;
    padding-bottom: $space-unit * 0.5;
  }

  &:focus {
    outline: 1px solid $color-gray;
  }
}
