@import '../../../styles/settings.scss';

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: $space-unit * 0.5;
  padding: $space-unit * 0.75 $space-unit * 0.5 $space-unit 0;
  
  p {
    font-size: 0.9rem;
    margin: 0;
  }
}

.bolded {
  font-weight: 700;
  color: $color-dark
}

.desc {
  display: inline-block;
}

.published {
  color: $color-text-faded;
}