@import '../../../styles/settings.scss';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.layout {
  margin: auto;
}

.register {
  background-color: $color-light;
  padding: $space-unit * 2;
  border: $b-width solid $color-gray;
  margin-top: $space-unit;
  max-width: calc(100vw - 2 * $space-unit);
  text-align: center;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $color-blue;
    font-weight: 700;
  }
}
