@import '../../../styles/settings.scss';

.layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 576px) {
    display: none;
  }
}

.input {
  padding: $space-unit * 0.5 $space-unit;
  border: none;
  background-color: lighten($color-gray, 15%);
  border-radius: $radius;
  position: relative;

  &:focus {
    outline-color: $color-gray;
  }
}
