@import '../../../styles/settings.scss';

.button {
  background-color: $color-blue;
  color: $color-light;
  font-weight: bold;
  border: 0;
  padding: $space-unit / 2 $space-unit;
  border-radius: $radius;
}
