@import '../../../styles/settings.scss';

.modalContainer {
  background: $color-light;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imageContainer {
  background-color: $color-black;
}

.postImage {
  border-radius: $radius 0 0 $radius;
  width: 100%;
  height: 100%;
}

.commentBox {
  flex-grow: 2;
  border-bottom: $b-width $color-gray solid;
  border-top: $b-width $color-gray solid;
  margin-bottom: $space-unit * 0.5;
}

.postInfo {
  padding: $space-unit;
  display: flex;
  flex-flow: column nowrap;
}

.profilePicture {
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  height: 40px;
}